@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");

* {
	box-sizing: border-box;
}

body {
	background-color: black;
	margin: 0;
	font-family: "Roboto";
	color: #ebd71c;
	height: 100vh;
}

.characterPortrait {
	width: 120px;
	height: 120px;
	border: 6px solid #ebd71c;
	border-radius: 16px;
	margin: 10px;
}

.evil-characters,
.good-characters {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.evil-characters {
	margin-right: 2rem;
}

.good-characters {
	margin-left: 2rem;
}

h1 {
	display: flex;
	justify-content: space-around;
	margin-top: 2rem;
}

.characters {
	display: flex;
	margin-inline: auto;
	margin-top: 1rem;
	align-self: center;
	justify-content: space-between;
}

.good-characters .characterPortrait:hover {
	border: 2px solid blue;
}

.evil-characters .characterPortrait:hover {
	border: 6px solid rgb(255, 0, 0);
}

.darken {
	opacity: 0.5;
}

.good-characters .darken {
	border: 2px solid blue;
}

.evil-characters .darken {
	border: 6px solid rgb(255, 0, 0);
}

.player-container {
	display: flex;
	justify-content: space-between;
}

.player-img {
	width: 200px;
}

.player1-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-inline: 0;
	margin-bottom: 0;
}

.player2-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.player1-container,
.player2-container {
	margin-top: 3rem;
}

.tallestResult,
.heaviestResult,
.genderResult,
.skinColorResult,
.eyeColorResult,
.hairColorResult {
	color: #ebd71c;
}

.player-name {
	color: #ebd71c;
}

.character-text {
	color: #ebd71c;
}

.fight-button {
	color: #ebd71c;
	border: 6px solid #ebd71c;
	border-radius: 16px;
	padding: 20px;
	height: 100px;
	width: 200px;
	background: transparent;
	text-decoration: none;
	margin: 0 auto;
	display: block;
	text-align: center;
	position: absolute;
	bottom: 13rem;
	left: 0;
	right: 0;
}

.fight-button:hover {
	background-color: #d2be03;
	border-color: #d2be03;
	color: black;
}

.fight-button:active,
.fight:focus {
	background-color: #b8a40a;
	border-color: #b8a40a;
	color: black;
}

.character-info {
	position: absolute;
	top: 60%;
	z-index: 4;
	width: 40%;
	max-width: 960px;
	min-width: 600px;
	height: fit-content;
	overflow: hidden;
	background: #fff;
	margin-left: auto;
	margin-right: 0;
}

.information-box {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 3;
	background-color: black;
	height: 70vh;
	width: 60vw;
	padding: 1em;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 2rem;
	border: 10px solid #d2be03;
	display: flex;
	flex-direction: column;
}

.backdrop {
	position: fixed;
	height: 100vh;
	width: 100vw;
	z-index: 2;
	top: 0;
	left: 0;
	opacity: 0.7;
	background-color: black;
}

.hidden {
	display: none;
}

/* 
.result-container {
	position: absolute;
	z-index: 4;
	background-color: white;
	height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
} */

.button-container {
	display: flex;
	position: absolute;
	bottom: 1rem;
}

.button-container button {
	color: #ebd71c;
	font-size: 12px;
	border: 4px solid #ebd71c;
	border-radius: 10px;
	height: 40px;
	width: 100px;
	background: transparent;
	text-decoration: none;
	margin: 0 auto;
	display: block;
	text-align: center;
	margin: 0.5rem;
}

.button-container button:hover {
	background-color: #d2be03;
	border-color: #d2be03;
	color: black;
}

.button-container button:active,
.button-container button:focus {
	background-color: #b8a40a;
	border-color: #b8a40a;
	color: black;
}

.h2-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
