* {
	box-sizing: border-box;
	margin: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
	margin: 0;
}

body {
	background-color: var(--clr-black);
	margin: 0;
	font-family: var(--roboto);
	color: var(--clr-yellow);
	height: 100vh;
}

.characters {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.characterPortrait {
	width: var(--character-portrait-width);
	height: var(--character-portrait-width);
	border: var(--character-portrait-border-width) solid var(--clr-yellow);
	border-radius: var(--character-portrait-border-radius);
	margin: var(--character-portrait-margin);
}

.evil-characters-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: var(--character-portrait-container-width);
	position: fixed;
	top: 6em;
	right: 0;
	margin-top: 1.5em;
	margin-right: 1.5em;
}

.evil-characters {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.good-characters-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: var(--character-portrait-container-width);
	position: fixed;
	top: 6em;
	left: 0;
	margin-top: 1.5em;
	margin-left: 1.5em;
}

.good-characters {
	display: flex;
	flex-wrap: wrap;
}
.good-characters .characterPortrait:hover {
	border: var(--character-portrait-border-width) solid var(--clr-blue);
}

.evil-characters .characterPortrait:hover {
	border: var(--character-portrait-border-width) solid var(--clr-red);
}

.pick-player1,
.pick-player2 {
	padding: var(--character-portrait-margin);
}

.player1-container {
	position: fixed;
	left: 0;
	bottom: 0;
	transition: all 1s;
	transform: translate(calc(var(--character-full-body-height) * -1), 0);
}

.player2-container {
	position: fixed;
	right: 0;
	bottom: 0;
	transition: all 1s;
	transform: translate(var(--character-full-body-height), 0);
}

.player-img {
	width: calc(calc(var(--character-full-body-height) * 2) / 3);
	height: var(--character-full-body-height);
	max-width: 40vw;
	max-height: calc(calc(40vw * 3) / 2);
}

.player-name {
	color: var(--clr-yellow);
	text-align: center;
	margin-bottom: 0.5em;
}

.selected-character .characterPortrait {
	width: calc(var(--character-portrait-width) * 0.7);
	height: calc(var(--character-portrait-width) * 0.7);
	margin: calc(var(--character-portrait-margin) * 0.7);
	border-width: calc(var(--character-portrait-border-width) * 0.7);
	border-radius: calc(var(--character-portrait-border-radius) * 0.7);
	transition: all 0.7s;
}

.selected-character {
	width: calc(var(--character-portrait-container-width) * 0.7);
	transition: all 0.7s;
}

// UN-SHIFTED

.un-shifted {
	transform: translate(0, 0);
}

// BACKDROP

.backdrop {
	position: fixed;
	height: 100vh;
	width: 100vw;
	z-index: 2;
	top: 0;
	left: 0;
	opacity: 0.7;
	background-color: var(--clr-black);
}

// DARKEN

.darken {
	opacity: 0.5;
}

.good-characters .darken {
	border: var(--character-portrait-border-width) solid var(--clr-blue);
}

.evil-characters .darken {
	border: var(--character-portrait-border-width) solid var(--clr-red);
}

// STAR WARS LOGO

.logo {
	max-width: 18em;
	margin-inline: auto;
}

// INFORMATION BOX STYLING

.information-box {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 3;
	background-color: var(--clr-black);
	height: 50vh;
	width: 60vw;
	padding: 1em;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 2rem;
	border: 10px solid var(--clr-yellow);
	display: flex;
	flex-direction: column;
}

.textarea {
	padding: 4rem;
	position: absolute;
	top: 0rem;
	left: 0rem;
}

.h2-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	flex-wrap: wrap;
	margin-inline: 1rem;
}

// HIDDEN

.hidden {
	display: none;
}
